@import 'tailwindcss';

@import './theme.css';
@import './utilities.css';

@import '@heroui/styles';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@custom-variant pointer-coarse (@media (pointer: coarse));
@custom-variant pointer-fine (@media (pointer: fine));
@custom-variant pointer-none (@media (pointer: none));
@custom-variant hover-hover (@media (hover: hover));
@custom-variant hover-none (@media (hover: none));

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

:root[data-theme='light'] {
	--surface: #fafaf9;
}

:root[data-theme='dark'] {
	--background: #0a0a0a;
	--foreground: #ededed;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter), Helvetica, sans-serif;

	@apply text-base h-dvh transition-colors;
}

img {
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	object-fit: contain;
}

/*  */
/*  */
/*  */
/*  */

/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://heroui.com/docs/react/getting-started/theming
 */

:root[data-theme='rainbow_light'],
:root[data-theme='rainbow_dark'] {
	/* Border Radius */
	--radius: 0;
	--field-radius: 0;

	/* Font Family */
	/* Make sure to load Inter font in your app */
	--font-sans: var(--font-inter);
}

:root[data-theme='rainbow_light'] {
	/* Theme Colors (Light Mode) */
	--accent: oklch(56.23% 0.2772 312.56);
	--accent-foreground: oklch(99.11% 0 0);
	--background: oklch(97.02% 0 312.56);
	--border: oklch(90% 0 312.56);
	--danger: oklch(65.32% 0.2328 32.79);
	--danger-foreground: oklch(99.11% 0 0);
	--default: oklch(94% 0 312.56);
	--default-foreground: oklch(21.03% 0.0059 312.56);
	--field-background: oklch(100% 0 312.56);
	--field-foreground: oklch(21.03% 0 312.56);
	--field-placeholder: oklch(55.17% 0 312.56);
	--focus: oklch(56.23% 0.2772 312.56);
	--foreground: oklch(21.03% 0 312.56);
	--muted: oklch(55.17% 0 312.56);
	--overlay: oklch(100% 0 312.56);
	--overlay-foreground: oklch(21.03% 0 312.56);
	--scrollbar: oklch(87.1% 0 312.56);
	--segment: oklch(100% 0 312.56);
	--segment-foreground: oklch(21.03% 0 312.56);
	--separator: oklch(92% 0 312.56);
	--success: oklch(73.29% 0.1935 157.86);
	--success-foreground: oklch(21.03% 0.0059 157.86);
	--surface: oklch(100% 0 312.56);
	--surface-foreground: oklch(21.03% 0 312.56);
	--surface-secondary: oklch(95.24% 0 312.56);
	--surface-secondary-foreground: oklch(21.03% 0 312.56);
	--surface-tertiary: oklch(93.73% 0 312.56);
	--surface-tertiary-foreground: oklch(21.03% 0 312.56);
	--warning: oklch(78.19% 0.1585 79.38);
	--warning-foreground: oklch(21.03% 0.0059 79.38);
}

:root[data-theme='rainbow_dark'] {
	color-scheme: dark;
	--accent: oklch(56.23% 0.2772 312.56);
	--accent-foreground: oklch(99.11% 0 0);
	--background: oklch(12% 0 312.56);
	--border: oklch(28% 0 312.56);
	--danger: oklch(59.4% 0.1967 31.68);
	--danger-foreground: oklch(99.11% 0 0);
	--default: oklch(27.4% 0 312.56);
	--default-foreground: oklch(99.11% 0 0);
	--field-background: oklch(21.03% 0 312.56);
	--field-foreground: oklch(99.11% 0 312.56);
	--field-placeholder: oklch(70.5% 0 312.56);
	--focus: oklch(56.23% 0.2772 312.56);
	--foreground: oklch(99.11% 0 312.56);
	--muted: oklch(70.5% 0 312.56);
	--overlay: oklch(21.03% 0 312.56);
	--overlay-foreground: oklch(99.11% 0 312.56);
	--scrollbar: oklch(70.5% 0 312.56);
	--segment: oklch(39.64% 0 312.56);
	--segment-foreground: oklch(99.11% 0 312.56);
	--separator: oklch(25% 0 312.56);
	--success: oklch(73.29% 0.1935 157.86);
	--success-foreground: oklch(21.03% 0.0059 157.86);
	--surface: oklch(21.03% 0 312.56);
	--surface-foreground: oklch(99.11% 0 312.56);
	--surface-secondary: oklch(25.7% 0 312.56);
	--surface-secondary-foreground: oklch(99.11% 0 312.56);
	--surface-tertiary: oklch(27.21% 0 312.56);
	--surface-tertiary-foreground: oklch(99.11% 0 312.56);
	--warning: oklch(82.03% 0.1388 83.39);
	--warning-foreground: oklch(21.03% 0.0059 83.39);
}
